<div class="d-flex align-items-center justify-content-center w-100" id="addOrder">
    <div class="addOrderBox">
        <div class="content-box m-0 border rounded bg-white shadow text-center p-5 mt-5 w-100">
            <h1>Dodaj zgłoszenie</h1>
            <form action="#" id="addOrderForm" name="addOrderForm">
                <input type="hidden" name="position" value="orderInsert">
                <select class="form-select form-select-lg mt-5 orderType" name="type" onload="" id="orderType">
                </select>
                <div class="form-floating mt-2">
                    <input type="text" name="comment" id="comment" placeholder="Komentarz" class="form-control"
                        required>
                    <label for="comment">Komentarz</label>
                </div>
                <select class="form-select form-select-lg mt-2 clientsList" name="clients_id">
                    <option selected>Wybierz klienta...</option>

                </select>
                <div class="form-floating mt-2">
                    <input type="number" name="price" id="price" placeholder="Cena netto" class="form-control" required>
                    <label for="price">Cena netto</label>
                </div>
                <select class="form-select form-select-lg mt-2" name="vat">
                    <option selected value="23">VAT 23%</option>
                    <option value="8">VAT 8%</option>
                    <option value="5">VAT 5%</option>
                    <option value="0">VAT 0%</option>
                </select>
                <select name="payed" id="" class="form-select form-select-lg mt-2">
                    <option selected value="0">niezapłacone</option>
                    <option value="1">zapłacone</option>
                </select>
                <select class="form-select form-select-lg mt-2 orderStatus" name="status" id="orderStatus">
                </select>
                <button type="button" class="btn btn-success btn-lg mt-3" style="padding-left: 25%; padding-right: 25%;"
                    id="submitOrder">Dodaj</button>
            </form>
        </div>
    </div>
</div>