<div class="container translate-middle border bg-white" id="invoicePreviewContainer">
    <div class="bg-white p-3 pt-5 pb-5" id="invoicePreview">
        <h2 style="text-align: center">Faktura nr 2022/<span id="invoiceNumber"></span></h2>
        <h4>Klient
            <span id="contractor" style="float: right"></span>
        </h4>
        <table class="table" id="orderInfo">
            <thead>
                <tr>
                    <td style="width: 10%">Ilość</td>
                    <td style="width: 50%">Usługa/Produkt</td>
                    <td style="width: 15%">Cena netto</td>
                    <td style="width: 10%">VAT %</td>
                    <td style="width: 15%">Cena brutto</td>
                </tr>
            </thead>
            <tbody id="invoiceTable">
            </tbody>
        </table>
        <form action="#" method="post">
            <input type="hidden" name="modifyOrder" id="orderId">
            <div class="mt-2 pt-2 m-0 justify-content-end">
                <button type="submit" class="btn btn-success btn-sm">Zatwierdź</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast"
                    onclick="invoicePreviewClose()">Zamknij</button>
            </div>
        </form>
    </div>
</div>