<div class="container-fluid" id="clients">
    <h1 class="text-center">Baza klientów</h1>
    <div class="row">
        <!-- Table of all users -->
        <div class="col-md-8 bg-white shadow p-3 m-4" style="margin-left: 10px; float: left">
        Sortuj 
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 30%">Nazwisko</th>
                        <th style="width: 15%">Imię</th>
                        <th style="width: 45%">Firma</th>
                        <th style="width: 10%">Akcje</th>
                    </tr>
                </thead>
                <tbody id="clientList">
                </tbody>
            </table>
        </div>
        <!-- User preview -->
        <div class="col-md-1" style="width: fit-content"></div>
        <div class="col-md-3 userPreview">
            <div class="card bg-white shadow mt-4" id="client-data-card" style="margin-right: 0px;">
                    <img src="" alt="" class="card-img-top" style="background-color: grey; width: max-content">
                    <div class="card-body">
                        <p class="card-text client-text placeholder-glow">
                            <table class="client-info-table" id="client-info-table">
                                <tr>
                                    <td class="text-start">Imię:</td>
                                    <td class="text-end"><strong><span id="firstName"></span></strong></td>
                                </tr>
                                <tr>
                                    <td class="text-start">Nazwisko:</td>
                                    <td class="text-end"><strong><span id="lastName"></span></strong></td>
                                </tr>
                                <tr>
                                    <td class="text-start">Firma: </td>
                                    <td class="text-end"><strong><span id="company"></span></strong></td>
                                </tr>
                                <tr>
                                    <td class="text-start">NIP: </td>
                                    <td class="text-end"><strong><span id="tin"></span></strong></td>
                                </tr>
                                <tr>
                                    <td class="text-start">Telefon: </td>
                                    <td class="text-end"><strong><span id="telNumber"></span></strong></td>
                                </tr>
                                <tr>
                                    <td class="text-start">E-mail: </td>
                                    <td class="text-end"><strong><span id="email"></span></strong></td>
                                </tr>
                            </table>
                        </p>
                        <div class="actions justify-content-center mt-5">
                            <a href="tel:" tabindex="-1" id="callClient" class="btn btn-success col-5"> Zadzwoń </a>
                            <a href="#" tabindex="-1" id="deleteUser" class="btn btn-danger col-5"> Usuń </a>
                        </div>
    
                    </div>
            </div>
        </div>
    </div>
</div>