<div class="container-fluid mt-5"  id="complaints">

    <div class="topbar mb-5">
        <div class="text-centered" id="alert-box"></div>
        <h2>Lista reklamacji</h2>
    </div>
    <div class="orders-table">
        <table class="table">
            <thead>
                <tr>
                    <td style="width: 5%">ID</td>
                    <td style="width: 10%">ID zgłoszenia</td>
                    <td style="width: 50%">ID Klienta</td>
                    <td style="width: 10%">Komentarz</td>
                    <td style="width: 10%">Status</td>
                    <td style="width: 15%">Data</td>
                </tr>
            </thead>
            <tbody id="complaintsTable">
            </tbody>
        </table>
    </div>
</div>