<div class="bg-light" id="home" onload="chartLoad(100, 200)">

    <!-- <h1 style="text-align: center">JK Management - sprawy system zarządzania zgłoszeniami</h1> -->

    <div class="border rounded-3 shadow bg-white p-5" id='financeCanvas'>
        <h3 class="text-center mb-3">Twoje finanse</h3>
        <select role="group">
            <option value="today">Dzisiaj</option>
            <option value="lastWeek">Ostatni tydzień</option>
            <option value="lastMonth">Ostatni miesiąc</option>
        </select>
        <canvas class="" id="finance"></canvas>
    </div>

    <div class="shadow border rounded-3 bg-white p-5" id="lastOrders">
        <h5>Ostatnie zgłosznia</h5>
        <table class="table">
            <thead>
                <tr>
                    <td style="width: 15%">Typ</td>
                    <td style="width: 50%">Komentarz</td>
                    <td style="width: 20%">Klient</td>
                    <td style="width: 15%"></td>
                </tr>
            </thead>
            <tbody id="lastOrdersTable">
            </tbody>
        </table>
    </div>

    <div class="border rounded-3 shadow bg-white p-5" id="ordersCanvas">
        <h3 class="text-center mb-3">Liczba zamówień</h3>
        <select role="group">
            <option value="today">Dzisiaj</option>
            <option value="lastWeek">Ostatni tydzień</option>
            <option value="lastMonth">Ostatni miesiąc</option>
        </select>
        <canvas id="orderCount"></canvas>
        <p id="orderCount"></p>
    </div>

</div>